.pageContent {
    overflow: auto;
    position: absolute;
    left: 15%;
    top: 0%;
    width: 85%;
    height: 100%;
    background-color: #cfadfc;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageContent h1 {
    padding: 50px;
}

.section {
    border-radius: 20px;
    width: 80%;
    border: 2px solid gray;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.section form {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section h1 {
    padding: 20px;
    width: 90%;
    text-align: left;
}

.section button {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    margin-left: auto;
    color: gray;
    cursor: pointer;
    transition: all 0.4s ease;
}

.section button:hover {
    background-color: grey;
    color: black;
    border-color: black;
}

.input-group {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-group label {
    font-size: 22px;
    padding: 10px 0px 10px 0px;
}

.input-group input {
    background-color: rgba(200, 200, 200, 0.9);
    border: none;
    height: 30px;
    font-size: 18px;
}

.input-group textarea {
    background-color: rgba(200, 200, 200, 0.9);
    border: none;
    color: grey;
    height: 120px;
    font-size: 18px;
}

.vscomp-toggle-button {
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
}

.section-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.skills {
    width: 100%;
    padding: 0 0 30px 0;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h1 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.add-skills {
    width: 100%;
    padding: 30px 0 30px 0;
}

.add-skills h1{
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.skill{
    border: 1px solid gray;
    margin: 20px 0 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 30px 0 30px;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    height: 70px;
}

.skill-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 0 0px;
}
.skill-section p{
    margin: 0;
    font-size: 23px;
    padding-right: 20px;
    border-right: 1px solid gray;
}

.skill-section button{
    width: 140px;
    border: 0;
    text-decoration: underline;
    height: 90%;
    padding: 0 10px 0 10px;
    font-size: 23px;
}
.image-selector{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.image-selector img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid gray;
    object-fit: cover;
}
